@model LoanApplication

<h2>Application Submitted Successfully</h2>

<p>Thank you, @Model.Name. Your loan application has been submitted for review.</p>
<p>Loan Amount: @Model.LoanRequestAmount</p>
<p>Monthly Repayment: @ViewBag.MonthlyRepayment</p>
<p>Total Amount Payable: @ViewBag.TotalAmountPayable</p>